body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/background\ 1.svg);
  background-size: 100%;
}
.milan {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.tours_list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 260px);
  justify-content: space-between;
  row-gap: 37px;
  padding-left: 0;
}
.tour_img {
  display: block;
  width: 300px;
  height: 220px;
}
.tour_title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
.tour_item {
  position: relative;
}

.tour_link {
  text-decoration: none;
}

.tour_info {
  position: absolute;
  bottom: 40px;
  left: 0px;
  width: 300px;
  height: 55px;
  background: #f26522;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 1;
  bottom: -55px;
}

.tour_item:hover .tour_title {
  color: #f26522;
}
.tour_price {
  font-family: Roboto;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding: 0 0 9px 16px;
}
.tour_price::before {
  content: "from";
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  display: block;
  padding: 8px 0;
}
.tour_detail {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding: 0 37px 10px 0;
}
.tour_detail::after {
  content: "";
  background-image: url(../img/Vector\ 1.png);
  width: 6px;
  height: 12px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 14px;
  bottom: 12px;
}

.logo-caption {
  margin-top: 51px;
  display: flex;
  justify-content: space-between;
}

.logo-caption-link {
  text-decoration: none;
  display: flex;
  justify-content: right;
  position: relative;
  padding-left: 63px;
}

.logo-caption-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  padding-left: 8px;
}

.caption-milan {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
}
.caption-holidays {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}
.amail-number {
  display: flex;
  flex-direction: column;
}
.amail-number-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.amail-number-link:hover {
  color: #f26522;
}

.number-links-tel {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 19px;
  text-align: end;
}
.number-links-tel:hover {
  color: #f26522;
}

.caption-holidays:hover {
  color: #f26522;
}
.caption-milan:hover {
  color: #f26522;
}

.logo-image {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.logo-image2 {
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
}

.logo-image2:hover {
  opacity: 1;
}

.footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 15px;
}
.tour-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.tour-wrapper:hover .tour_info {
  bottom: 0;
}
